# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
venv/
.venv/
env/

# Logs & Model Checkpoints
logs/*
!logs/.gitkeep

# macOS & Editor artifacts
.DS_Store
.idea/
.vscode/
*.swp
